<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form *ngIf="registerState.loading; else tmpl" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo-icon.png">
            <h4 class="m-t-0">Register to App</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput id="register-username" placeholder="Username" type="email" formControlName="username">
              </mat-form-field>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput id="register-password" type="password" placeholder="Password" formControlName="password">
              </mat-form-field>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput id="register-confirm-password" placeholder="Confirm Password" formControlName="confirmPassword" type="password">
              </mat-form-field>

              <mat-error *ngIf="form.get('confirmPassword').hasError('notSame') && form.get('confirmPassword').touched">
                Passwords do not math.
              </mat-error>
            </div>
            <!-- col full-->
            <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-checkbox class="font-14">I agree to the all
                <a href="javascript:void(0)" class="link text-info">terms</a>.</mat-checkbox>
            </div> -->
            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Create
              your account</button>

            <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>Already have an account?
                <a [routerLink]="['/auth/login']" class="link text-info"> Login</a>
              </span>
            </div>
          </div>
        </form>
        <ng-template #tmpl>
          <div *ngIf="registerState.success">
            <i class="fa fa-circle font-10 m-r-10 "></i>
            <span class="text-success">Account successfully created!</span>
            <button mat-button><a [routerLink]="['/auth/login']">login</a></button>
          </div>
          <div *ngIf="registerState.fail">
            <i class="fa fa-circle font-10 m-r-10 "></i>
            <span class="text-danger">Account fail created!</span>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>